.card {
  max-width: 250px;
  border-radius: 10%;
  -webkit-box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.72); 
box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.72);
}
.card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.card-img {
  max-width: 100%;
  width: 200px;
  height: 170px;
}
.card-name {
  margin-top: 10px;
  color: aliceblue;
  font-size: 18px;
  text-shadow: 2px 2px 2px black;
}
.card-action {
  text-decoration: none;
}