body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  background-color: #eceff1;
  background-color: #001e3c;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
a {
  text-decoration: none;
}
.categoriList {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  /* gap: 30px 30px; */
}
.btn {
  background-color: #ff5722;
  padding: 6px 20px;
  cursor: pointer;
  margin: 5px;
  color: #eceff1;
  text-shadow: 2px 2px 2px rgb(177, 175, 175);
  border: none;
  border-radius: 5px;

}

.accord-btn{
  max-width: 1350px;
  background-color: #ff7043;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 2px;
}

.accordion__panel {
  margin-top: -2px;
  background-color: #ff7043;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.notFound h2, h1{
margin: 0;
}

.notFound {
  position: relative;
  height: 100vh;
  color: aliceblue;
}
.notFound-wrp {
  width: 240px;
  position: absolute;
  top: 30%;
  left: 40%;
  padding: 15px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
}
.notFound-wrp h1 {
  font-size: 100px;
}
.notFound-wrp h2 {
  margin-bottom: 15px;
}
.notFound-wrp a {
  color: aliceblue;
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .categoriList {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;

  }
}